/*Reset Styles*/
[hidden] {
    display: none !important;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important;
}

/*
*:active {
    opacity: .4 !important;
}
*/

/*Font*/

/*Apercu*/

@font-face {
    font-family: Apercu Pro Black;

    src: url('../Assets/Fonts/Apercu/apercu-black-pro.ttf');
}


@font-face {
    font-family: Apercu Pro Bold;

    src: url('../Assets/Fonts/Apercu/apercu-bold-pro.ttf');
}

@font-face {
    font-family: Apercu Pro Medium;

    src: url('../Assets/Fonts/Apercu/apercu-medium-pro.ttf');
}


@font-face {
    font-family: Apercu Pro Regular;

    src: url('../Assets/Fonts/Apercu/apercu-regular-pro.ttf');
}

@font-face {
    font-family: Apercu Pro Light;

    src: url('../Assets/Fonts/Apercu/apercu-light-pro.ttf');
}

/*Apercu*/


/*Font*/


*::-moz-selection {
    opacity: 1;
    color: #FFFFFE;
    background-color: #000000;
}


*::selection {
    opacity: 1;
    color: #FFFFFE;
    background-color: #000000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Reset Styles*/
/*Default styles*/
html,
body {
    /* base size */
    font-size: 8px;

    position: relative;

    margin: 0 auto;

    background-color: #FFFFFE;
    /*    overflow: hidden;*/
}

body::-webkit-scrollbar {
    display: none;
}

/*
img {
    mix-blend-mode: luminosity;
}
*/

/*
a:hover {
    cursor: pointer;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

    opacity: .4;
}
*/

.Logo a:hover {
    opacity: 1;
}

/*Default styles*/


/* utility */
/*
html.sr .load-hidden {
    visibility: hidden;
}
*/


/*Navigation*/


.Top-Bar {
    position: fixed;
    z-index: 16;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 100vw;
    min-height: 12rem;
    padding: 0rem 20vw;

    background-color: transparent;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*    background-color: rgba(0, 0, 0, .6);*/
}

@media (max-width: 1024px) {
    .Top-Bar {
        padding: 0rem 4rem;
    }
}


.Logo a {
    font-family: 'Apercu Pro Regular', sans-serif;
    font-size: 2rem;
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;
    color: #FFFFFE;
    text-align: left;
    text-decoration: none;
    /*    letter-spacing: .04rem;*/
    text-transform: capitalize;
    /*    text-decoration: underline;*/
    /*    padding-bottom: .8rem;*/
}


.Top-Bar .Menu span {
    font-family: 'Apercu Pro Regular', sans-serif;
    /*    font-size: 2rem;*/
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;

    text-align: left;
    /*    letter-spacing: .2rem;*/
    text-transform: uppercase;

    color: #000000;
    display: none;
}

.Top-Bar .Menu span:hover {
    cursor: pointer;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

    opacity: .4;
}

@media (max-width: 1024px) {
    .Top-Bar {
        position: fixed;
        z-index: 8;
        top: 0;
        left: 0;

        min-width: 100vw;
        height: auto;
        /*        padding-left: 8vw;*/
        /*        border-bottom: .2rem solid #000000;*/
        border-right: none;
        /*        background-color: #FFFFFE;*/
    }


    .Top-Bar .Menu span {
        display: block;
    }
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 80;
    /*    width: 60vw;*/
    margin-right: 20vw;
    background-color: transparent;
    min-height: 12rem;
}

nav ul {
    height: 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav ul li {
    padding: 0rem;
    padding-left: 4rem;
    text-align: right;
}


nav ul li a {
    font-family: 'Apercu Pro Regular', sans-serif;
    font-size: 2rem;
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;

    text-align: left;
    letter-spacing: .2rem;
    text-transform: capitalize;

    color: #FFFFFE;
}

a {
    font-family: 'Apercu Pro Regular', sans-serif;
    font-size: 2rem;
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;

    text-align: left;
    letter-spacing: .2rem;
    text-transform: capitalize;

    color: #FFFFFE;
}

@media (max-width: 1024px) {
    nav {
        position: fixed;
        z-index: 16;
        top: 0rem;
        right: 0;
        bottom: 0;

        width: 24rem;
        height: 100vh;
        /*    height: calc(100vh - 8rem);*/
        margin-right: -24rem;

        -webkit-transition: all .4s ease;
        transition: all .4s ease;

        background-color: #FFFFFE;
        /*    border-top: .2rem solid transparent;*/
    }

    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

        height: 100vh;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    nav ul li {
        padding: 2rem;
    }

    nav ul li a {
        padding-left: 2rem;
        color: #000000;
    }
}


nav ul li a:hover {
    /*    margin-left: .8rem;*/
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    /*    color: #FFFFFE;*/
    opacity: .4;
}

nav ul li a:active {
    opacity: .4;
}

/*Navigation*/


/*Headings*/

h1 {
    font-family: 'Apercu Pro Black', sans-serif;
    font-size: 8rem;
    /*    font-weight: 400;*/
    font-style: normal;
    font-stretch: normal;
    line-height: 7rem;
    /*    padding-top: 2rem;*/
    padding-bottom: 4rem;
    text-align: left;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #FFFFFE;
}

h2 {
    font-family: 'Apercu Pro Black', sans-serif;
    font-size: 6rem;
    /*    font-weight: 400;*/
    font-style: normal;
    font-stretch: normal;
    line-height: 5rem;
    /*    padding-top: 2rem;*/
    padding-bottom: 4rem;
    text-align: left;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #FFFFFE;
}

@media (max-width: 480px) {
    h2 {
        font-size: 4rem;
        line-height: 5rem;
    }
}


/*Headings*/

/*Paragraphs*/
p {
    font-family: 'Apercu Pro Regular', sans-serif;
    font-size: 2rem;
    /*    font-weight: 400;*/
    line-height: 3rem;
    /*    letter-spacing: .04rem;*/
    padding-bottom: 4rem;
    color: #e5e4e2;
    /*    opacity: .8;*/
    /*    -webkit-text-stroke: .04rem #000000;*/
}

@media (max-width: 1440px) {
    p {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}


@media (max-width: 480px) {
    p {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}


/*Paragraphs*/

/*Buttons*/
button {
    margin-right: 4rem;
    padding-bottom: .04rem;
    /*    margin-top: 2rem;*/
    /*    padding: 2rem 4rem;*/
    border: none;
    border-radius: 0rem;
    padding: 1.6rem;
    border: .2rem solid #FFFFFE;
    background-color: transparent;
}


button a {
    font-family: 'Apercu Pro Bold', sans-serif;
    font-size: 2rem;
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;
    text-align: left;
    text-decoration: none;
    /*    letter-spacing: .04rem;*/
    text-transform: capitalize;
    /*    text-decoration: underline;*/
    /*    padding-bottom: .8rem;*/
    color: #FFFFFE;
    /*
    border-bottom: .2rem solid #000000;
    padding-bottom: 2rem;
*/
}

@media (max-width: 1440px) {
    button a {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}


@media (max-width: 480px) {
    button a {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}

/*Buttons*/


/*Header*/
#Header {
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: calc(100vh - 12rem);
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../Assets/Primary.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*    mix-blend-mode: luminosity;*/
    /*    background-blend-mode: luminosity;*/
}


#Header .Container {
    z-index: 4;
    min-width: 100vw;
    padding: 40vh 20vw 24vh;
}

#Header .Header-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 12rem);
    background-color: rgba(0, 0, 0, .6);

}

/*Text Animation*/
.cd-headline.clip span {
    display: inline-block;
    padding: 0;
}

.cd-headline.clip .cd-words-wrapper::after {
    /* loading bar */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #FFFFFE;
    z-index: 2;
    -webkit-transition: width 0.3s -0.1s;
    -moz-transition: width 0.3s -0.1s;
    transition: width 0.3s -0.1s;
}

.cd-headline.clip .cd-words-wrapper.is-loading::after {
    width: 100%;
    -webkit-transition: width 6s;
    -moz-transition: width 6s;
    transition: width 6s;
}

/*Text Animation*/

/*
#header .Container .underline {
    border-bottom: 2px solid #FFFFFE;
}
*/

#Header .Container h1 {
    padding-bottom: 4rem;
    color: #FFFFFE;
}

#Header .Container h1 span {
    font-size: 8rem;
    padding: 0rem;
    color: #FFFFFE;
}

@media (max-width: 480px) {
    #Header .Container h1 span {
        font-size: 4rem;
        line-height: 5rem
    }
}

#Header .Container p {
    max-width: 50%;
}

#Header .Container button {
    border-bottom-color: #FFFFFE;
}

#Header .Container button a {
    color: #FFFFFE;
}


@media (max-width: 1024px) {
    #Header .Container {
        flex-direction: column;

        max-width: 100%;
        margin: 0 auto;
        padding: 20vh 8vw;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    #Header .Container .Left {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    #Header .Container .Right {
        padding-left: 0;

        -ms-flex-preferred-size: 88%;
        flex-basis: 88%;
    }

    #Header .Container p {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    #Header .Container {
        max-width: 100%;
        margin: 0 auto;
        padding: 16vh 20vw;
    }

    #Header .Container p {
        max-width: 88%;
    }
}

@media (max-width: 480px) {
    #Header .Container {
        max-width: 100%;
        margin: 0 auto;
        padding: 40vh 8vw 12rem;
    }

    #Header .Container h3 {
        margin-top: 0rem;
    }

    #Header .Container p {
        max-width: 96%;
    }
}

/*Header*/

/*About*/


#India,
#Abroad {
    background-color: #FFFFFE;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16vh 20vw;
}


#India {
    /*    background-color:  #212121;    */
}

#Abroad {
    flex-direction: row-reverse;
    background-color: #101010;
}

#India .left,
#Abroad .left {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-right: 8rem;
}

#India .left p,
#Abroad .left p {
    color: #FFFFFE;
}

#India .left h2 {
    color: #000000;
}

#India .left p {
    color: #212121;
}

#India .left button {
    border-color: #000000;
}

#India .left button a {
    color: #000000;
}

#India .right,
#Abroad .right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

#Abroad .left {
    padding-left: 8rem;
}

#India .right .Image-Container,
#Abroad .right .Image-Container {
    max-width: 100%;
}

#India .right .Image-Container img,
#Abroad .right .Image-Container img {
    max-width: 100%;
    max-height: 100%
}

@media (max-width: 768px) {

    #India,
    #Abroad {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 12vh 8vw;
    }

    #India .left,
    #Abroad .left {
        padding-bottom: 4rem;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding-right: 0rem;
    }

    #Abroad {
        /*        flex-direction: column-reverse;*/
    }

    #Abroad .left {
        padding-left: 0rem;
    }

    #India .right,
    #Abroad .right {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

/*About*/

/*Testimonials*/
#Testimonials {
    padding: 8vh 20vw;
}

/*Slider*/

.cd-testimonials-wrapper {
    padding: 8rem;
    background-color: #FFFFFE;
}

.cd-testimonials-wrapper::after {
    display: none;
}

.cd-testimonials p {
    color: #212121;
    font-family: 'Apercu Pro Medium', sans-serif;
    font-size: 2rem;
    /*    font-weight: 400;*/
    line-height: 3rem;
    /*    letter-spacing: .04rem;*/
    padding-bottom: 4rem;
    /*    opacity: .8;*/
    /*    -webkit-text-stroke: .04rem #000000;*/
}

.cd-testimonials ul li a {
    color: #000000;
}

.flex-direction-nav li a:hover::before,
.flex-direction-nav li a:hover::after {
    background-color: #000000;
}

.cd-author img {
    border: none;
    border-radius: 50%;
    box-shadow: unset;
    width: 12rem;
    height: 12rem;
}

.cd-author .cd-author-info li:first-child,
.cd-author .cd-author-info li:last-child {
    color: #212121;
    font-family: 'Apercu Pro Medium', sans-serif;
    font-size: 2rem;
    /*    font-weight: 400;*/
    line-height: 3rem;
    /*    letter-spacing: .04rem;*/
    padding-bottom: 4rem;
    /*    opacity: .8;*/
    padding: 0rem;
}

.cd-author .cd-author-info li:last-child {
    font-size: 1.6rem;
    opacity: .8;
}


/*Slider*/

@media (max-width: 768px) {
    #Testimonials {
        padding: 12vh 0vw;
    }

    .cd-testimonials-wrapper {
        padding: 4rem;
    }
}

/*Testimonials*/

/*Footer*/
#Footer {
    z-index: 24;
    /*    position: absolute;*/
    /*    bottom: 0;*/
    width: 100vw;
    margin-bottom: 0;
    /*    height: 100vh;*/
    background-color: #000000;
}

#Footer .Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem 20vw;
    background-color: #000000;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    /*    border-top: .02rem solid #FFFFFE;*/
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#Footer .Container ul {
    display: flex;
}

#Footer .Container ul li {
    margin-right: 2rem;
    ;
}

@media (max-width: 1024px) {
    #Footer .Container {
        padding: .8rem 4rem;
    }
}

#Footer .Container p {
    font-size: 2rem;
    line-height: 2.8rem;

    margin: 0rem;
    padding: 0rem;

    color: #FFFFFE;
}

#Footer .Container a {
    text-align: right;

    color: #FFFFFE;

    -ms-flex-item-align: center;
    align-self: center;
}

@media (max-width: 1024px) {
    #Footer .Container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #Footer .Container {
        max-width: 100%;
        padding: .8rem 8vw;
    }

    #Footer .Container h6 {
        width: 60%;
    }
}

/*Footer*/
