/*Reset Styles*/
[hidden] {
    display: none !important;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none !important;
}

/*
*:active {
    opacity: .4 !important;
}
*/

/*Font*/

@font-face {
    font-family: Circular Std Black;
    src: url('../Assets/Fonts/Circular/CircularStd-Black.otf');
}

@font-face {
    font-family: Circular Std Bold;
    src: url('../Assets/Fonts/Circular/CircularStd-Bold.otf');
}

@font-face {
    font-family: Circular Std Medium;
    src: url('../Assets/Fonts/Circular/CircularStd-Medium.otf');
}

@font-face {
    font-family: Circular Std Book;
    src: url('../Assets/Fonts/Circular/CircularStd-Book.otf');
}

/*Font*/

/*Custom-Cursor*/
/*
#customCursor {
    cursor: url('../Assets/Cursor/cursor.svg');
}
*/

/* With a .cur fallback */
/*
#customCursor {
    cursor: url('../Assets/Cursor/cursor.svg'),
        url('/images/chef.cur');
}
*/

/* With a custom hotspot */
/*
#customCursor {
    cursor: url('../Assets/Cursor/cursor.svg') 10 12;
}
*/

/* With a non-custom fallback: */
/*
#customCursor {
    cursor: url('../Assets/Cursor/cursor.svg'),
        move;
}
*/

/*Custom-Cursor*/

*::-moz-selection {
    opacity: 1;
    color: #FFFFFE;
    background-color: #000000;
}


*::selection {
    opacity: 1;
    color: #FFFFFE;
    background-color: #000000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Reset Styles*/
/*Default styles*/
html,
body {
    /* base size */
    font-size: 8px;

    position: relative;



    background-color: #111111;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/*
img {
    mix-blend-mode: luminosity;
    background-blend-mode: luminosity;
}*/

/*
a:hover {
    cursor: pointer;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

    opacity: .4;
}
*/

.Logo a:hover {
    opacity: 1;
}

/*Default styles*/


/* utility */
/*
html.sr .load-hidden {
    visibility: hidden;
}
*/


/*Navigation*/


.Top-Bar {
    position: absolute;
    z-index: 16;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 100vw;
    min-height: 12rem;
    padding: 0rem 12vw;

    background-color: transparent;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*    background-color: rgba(0, 0, 0, .6);*/
}

@media (max-width: 1024px) {
    .Top-Bar {
        padding: 0rem 4rem;
    }
}


.Logo a {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 2rem;
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;
    color: #000000;
    text-align: left;
    text-decoration: none;
    /*    letter-spacing:  0rem;*/
    text-transform: capitalize;
    /*    text-decoration: underline;*/
    /*    padding-bottom: .8rem;*/
}

.Logo a img {
    width: 6rem;
    height: auto;
}


.Top-Bar .Menu span {
    font-family: 'Circular Std Bold', sans-serif;
    /*    font-size: 2rem;*/
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;

    text-align: left;
    /*    letter-spacing:  0rem;*/
    text-transform: uppercase;

    color: #000000;
    display: none;
}

.Top-Bar .Menu span:hover {
    cursor: pointer;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

    opacity: .4;
}

@media (max-width: 1024px) {
    .Top-Bar {
        position: absolute;
        z-index: 8;
        top: 0;
        left: 0;

        min-width: 100vw;
        height: auto;
        /*        padding-left: 8vw;*/
        /*        border-bottom: .2rem solid #000000;*/
        border-right: none;
        /*        background-color: #FFFFFE;*/
    }


    .Top-Bar .Menu span {
        display: block;
    }
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 80;
    /*    width: 60vw;*/
    margin-right: 12vw;
    background-color: transparent;
    min-height: 12rem;
}

nav ul {
    height: 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav ul li {
    padding: 0rem;
    padding-left: 4rem;
    text-align: right;
}


nav ul li a {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 2rem;
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;

    text-align: left;
    letter-spacing: 0rem;
    text-transform: capitalize;

    color: #FFFFFE;
}

a {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 2rem;
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;

    text-align: left;
    letter-spacing: 0rem;
    text-transform: capitalize;

    color: #FFFFFE;
}

@media (max-width: 1024px) {
    nav {
        position: absolute;
        z-index: 16;
        top: 0rem;
        right: 0;
        bottom: 0;

        width: 24rem;
        height: 100vh;
        /*    height: calc(100vh - 8rem);*/
        margin-right: -24rem;

        -webkit-transition: all .4s ease;
        transition: all .4s ease;

        background-color: #000000;
        /*    border-top: .2rem solid transparent;*/
    }

    nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

        height: 100vh;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    nav ul li {
        padding: 2rem;
    }

    nav ul li a {
        padding-left: 2rem;
        color: #FFFFFE;
    }
}


nav ul li a:hover {
    /*    margin-left: .8rem;*/
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    /*    color: #FFFFFE;*/
    opacity: .4;
}

nav ul li a:active {
    opacity: .4;
}

/*Navigation*/


/*Headings*/

h1 {
    font-family: 'Circular Std Black', sans-serif;
    font-size: 8rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 7rem;
    /*    padding-top: 2rem;*/
    padding-bottom: 4rem;
    text-align: left;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #e5e5e5;
    /*    text-align: left;*/
}

@media (max-width: 768px) {
    h1 {
        font-size: 6rem;
        line-height: 6rem;
        text-align: left;
    }
}

h2 {
    font-family: 'Circular Std Black', sans-serif;
    font-size: 6rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 5rem;
    /*    padding-top: 2rem;*/
    padding-bottom: 4rem;
    text-align: left;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #000000;
    /*    text-align: left;*/
}

@media (max-width: 768px) {
    h2 {
        font-size: 4rem;
        line-height: 5rem;
        text-align: left;
    }
}

h3 {
    font-family: 'Circular Std Black', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 5rem;
    /*    padding-top: 2rem;*/
    padding-bottom: 4rem;
    text-align: left;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #FFFFFE;
    /*    text-align: left;*/
}

@media (max-width: 768px) {
    h3 {
        font-size: 3rem;
        line-height: 4rem;
        text-align: left;
    }
}


/*Headings*/

/*Paragraphs*/
p {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    /*    letter-spacing:  0rem;*/
    padding-bottom: 4rem;
    color: #111111;
    /*    opacity: .8;*/
    /*    -webkit-text-stroke: .04rem #000000;*/
}

@media (max-width: 1440px) {
    p {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}


@media (max-width: 768px) {
    p {
        font-size: 2rem;
        line-height: 2.6rem;
        text-align: left;
        text-align: left;

    }
}


/*Paragraphs*/

/*Buttons*/
button {
    margin-right: 4rem;
    padding-bottom: .04rem;
    /*    margin-top: 2rem;*/
    /*    padding: 2rem 4rem;*/
    border: none;
    border-radius: 0rem;
    padding: 1.6rem;
    border: .2rem solid #000000;
    background-color: transparent;

}

button:hover {
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    background-color: #000000;
    /*    border: .2rem solid #000000 !important;*/
    cursor: pointer;
}


button:hover a {
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    color: #FFFFFE !important;
}

button a {
    font-family: 'Circular Std Bold', sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    /*    text-decoration: underline;*/
    /*    padding-bottom: .8rem;*/
    color: #000000;

    /*    border-bottom: .2rem solid #FFFFFE;*/
    /*    padding-bottom: .6rem;*/

}

@media (max-width: 768px) {
    button {
        text-align: left;
    }
}

/*Buttons*/



/*Header*/
#Header {
    z-index: 2;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    /*    height: 100vh;*/
    background-image: url(../Assets/Primary.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*    background-color: rgba(0, 0, 0, 0.6);*/
    /*    mix-blend-mode: luminosity;*/
    /*    background-blend-mode: luminosity;*/
    /*    text-align: left;*/
}


#Header .Container {
    z-index: 4;
    min-width: 100vw;
    padding: 40vh 12vw 24vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#Header .Container .Content {
    min-width: 75%;
}

#Header .Container .Form-Container {
    min-width: 25%;
}

#Header .Container .Form-Container form .Form-Row .Form-Group input {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;

    width: 100%;
    letter-spacing: 0rem;

    color: #FFFFFE;
    border: none;
    border: .2rem solid #e5e5e5;


    background-color: transparent;
    padding: 1rem;
    margin-bottom: 1rem;
}

#Header .Container .Form-Container form .Form-Row .Form-Group input::-webkit-input-placeholder {
    color: #e5e4e2;
    opacity: 0.6;
}

#Header .Container .Form-Container form .Form-Row .Form-Group textarea::-webkit-input-placeholder {
    color: #e5e4e2;
    opacity: 0.6;
}

#Header .Container .Form-Container form .Form-Row .Form-Group input:-ms-input-placeholder {
    color: #e5e4e2;
    opacity: 0.6;
}

#Header .Container .Form-Container form .Form-Row .Form-Group input::-webkit-input-placeholder {
    color: #e5e4e2;
    opacity: 0.6;
}

#Header .Container .Form-Container form .Form-Row .Form-Group input::placeholder {
    color: #e5e4e2;
    opacity: 0.6;
}

#Header .Container .Form-Container form .Form-Row .Form-Group select {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;

    width: 100%;
    letter-spacing: 0rem;

    color: #FFFFFE;
    border: none;
    border: .2rem solid #e5e5e5;


    background-color: transparent;
    padding: 1rem;
    margin-bottom: 1rem;
}

#Header .Container .Form-Container form .Form-Row .Form-Group select option {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;

    width: 100%;
    letter-spacing: 0rem;

    color: #FFFFFE;
    border: none;
    border: .2rem solid #e5e5e5;


    background-color: #212121;
    padding: 1rem;
    margin-bottom: 1rem;
}


#Header .Container .Form-Container form .Form-Row .Form-Group textarea {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;

    width: 100%;

    letter-spacing: 0rem;

    color: #FFFFFE;
    border: none;
    border: .2rem solid #e5e5e5;


    background-color: transparent;
    padding: 1rem;
    height: 12rem;
}

#Header .Container .Form-Container form button {
    border: .2rem solid #e5e5e5;
}

#Header .Container .Form-Container form button:hover {
    background-color: #e5e5e5;
}

#Header .Container .Form-Container form button:hover a {
    color: #111111 !important;
}


#Header .Container .Form-Container form button a {
    color: #e5e5e5;
}

#Header .Container .Form-Container form p {
    color: #e5e5e5;
}

@media (max-width: 1024px) {
    #Header .Container .Form-Container {
        /*        display: none;*/
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }
}

#Header .Header-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    /*    height: 100%;*/
    background-color: rgba(0, 0, 0, .6);
}


/*Text Animation*/
.cd-headline.clip span {
    display: inline-block;
    padding: 0;
}

.cd-headline.clip .cd-words-wrapper::after {
    /* loading bar */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #FFFFFE;
    z-index: 2;
    -webkit-transition: width 0.3s -0.1s;
    transition: width 0.3s -0.1s;
}

.cd-headline.clip .cd-words-wrapper.is-loading::after {
    width: 100%;
    -webkit-transition: width 6s;
    transition: width 6s;
}

/*Text Animation*/


/*Search Bar*/
/*
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    width: 2rem;
    cursor: pointer;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #000000 url(../Assets/Icons/Search.svg) no-repeat .6rem center;
    padding: 1.6rem;

    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;
}

input[type=search]:focus {
    width: 40rem;
    background-color: transparent;
    border-color: #FFFFFE;
}


input:-moz-placeholder {
    color: #111111;
}

input::-webkit-input-placeholder {
    color: #111111;
}


#Search input[type=search]:focus {
    width: 40rem;
    padding-left: 6rem;
    color: #FFFFFE;
    background-color: transparent;
    cursor: auto;
}

#Search input:-moz-placeholder {
    color: transparent;
}

#Search input::-webkit-input-placeholder {
    color: transparent;
}*/

/*Search Bar*/



/*
#header .Container .underline {
    border-bottom: 2px solid #FFFFFE;
}
*/

#Header .Container .Content h1 {
    padding-bottom: 12rem;
    color: #FFFFFE;
}

#Header .Container .Content h1 span {
    font-size: 8rem;
    padding: 0rem;
}

#Header .Container .Content h1 span.Small {
    font-size: 4rem;
    font-weight: 600;
    opacity: .6;
}

#Header .Container .Content p {
    font-size: 3rem;
    color: #e5e5e5;
}

#Header .Container .Content p.Tag {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 1.6rem;
    /*    padding-left: 1rem;*/
    opacity: .6;
    color: #e5e5e5;
}

#Header .Container .Content button {
    border: .2rem solid #ffffff;
}

#Header .Container .Content button a {
    color: #FFFFFE;
}

#Header .Container .Content button:hover {
    background-color: #FFFFFE;
}

#Header .Container .Content button:hover a {
    color: #000000 !important;
}


@media (max-width: 1024px) {
    #Header .Container {
        flex-direction: column;

        max-width: 100%;

        padding: 20vh 8vw;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    #Header .Container .Content {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }


    #Header .Container .Content p {
        max-width: 80%;
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {

    #Header {
        /*        background-image: url(../Assets/Primary-Small.jpg);*/
    }

    #Header .Container {
        max-width: 100%;
        text-align: left;

        padding: 16vh 20vw;
    }

    #Header .Container p {
        max-width: 88%;
        font-size: 2rem;
    }
}

@media (max-width: 480px) {

    #Header {
        background-position: left;
    }

    #Header .Container {
        max-width: 100%;
        text-align: left;

        padding: 24vh 8vw 8vh;
    }

    /*
    #Header .Container h1 {
        margin-bottom: 6rem;
    }
*/

    #Header .Container .Content h1 span {
        font-size: 3.6rem;
        line-height: 4rem;
    }

    #Header .Container .Content h1 span.Small {
        font-size: 3rem;
        opacity: .6;
    }

    #Header .Container .Content p {
        /*        max-width: 64%;*/
    }

    #Header .Container .Content .Registration-Btn,
    #Header .Container .Content .Registration-Tag {
        display: none;
    }
}

/*Header*/


#Service-1,
#Service-2,
#Service-3 {
    background-color: #FFFFFE;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*    flex-direction: column;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#Service-1 {
    padding: 20vh 12vw 4vh;
    /*    background-color:  #111111;    */
}

#Service-2 {
    padding: 20vh 12vw 4vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    /*    background-color: #111111;*/
    /*    margin-left: -8rem;*/
}

#Service-3 {
    padding: 20vh 12vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /*    background-color: #111111;*/
    /*    margin-left: -8rem;*/
}

#Service-1 .Content,
#Service-2 .Content,
#Service-3 .Content {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    /*    margin-top: 8rem;*/
    background-color: #FFFFFE;
    /*    padding: 0vh 8vw;*/
    /*    text-align: left;*/
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

#Service-1 .Content {
    position: relative;
    padding: 6rem 0rem 0rem 6rem;
    /*    margin-left: -8rem;*/
    z-index: 16;
}

#Service-2 .Content {
    position: relative;
    padding: 6rem 6rem 0rem 0rem;
    /*    margin-right: -8rem;*/
    z-index: 16;
}

#Service-3 .Content {
    position: relative;
    padding: 6rem 0rem 0rem 6rem;
    /*    margin-right: -8rem;*/
    z-index: 16;
}

#Service-1 .Content h3,
#Service-2 .Content h3,
#Service-3 .Content h3 {
    color: #111111;
}


#Service-1 .Content p,
#Service-2 .Content p,
#Service-3 .Content p {
    margin-bottom: 1rem;
    color: #111111;
    width: 80%;
}


#Service-1 .Content p a,
#Service-2 .Content p a,
#Service-3 .Content p a {
    color: #000000;
    padding-left: .6rem;
    text-decoration: underline;
    letter-spacing: 0rem;
}

#Service-1 .Graphic,
#Service-2 .Graphic,
#Service-3 .Graphic {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

#Service-1 .Graphic .Image-Container,
#Service-2 .Graphic .Image-Container,
#Service-3 .Graphic .Image-Container {
    max-width: 100%;
}

#Service-1 .Graphic .Image-Container img,
#Service-2 .Graphic .Image-Container img,
#Service-3 .Graphic .Image-Container img {
    min-width: 100%;
    min-height: 100%;

    /*    mix-blend-mode: luminosity;*/
    /*    background-blend-mode: luminosity;*/
}

@media (max-width: 768px) {

    #Service-1,
    #Service-2,
    #Service-3 {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: left;

    }

    #Service-1 {
        padding: 12vh 8vw;
    }

    #Service-2 {
        margin-left: 0rem;
        padding: 0vh 8vw 12vh;
    }

    #Service-3 {
        margin-left: 0rem;
        padding: 0vh 8vw 12vh;
    }

    #Service-1 .Content,
    #Service-2 .Content,
    #Service-3 .Content {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    #Service-1 .Content h3,
    #Service-2 .Content h3,
    #Service-3 .Content h3 {
        padding-bottom: 2rem;
    }

    #Service-1 .Content p,
    #Service-2 .Content p,
    #Service-3 .Content p {
        width: 96%;
    }

    #Service-1 .Graphic,
    #Service-2 .Graphic,
    #Service-3 .Graphic {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    #Service-1 .Content {
        position: relative;
        padding: 8vh 0rem 0vh;
        margin-left: 0rem;
        z-index: 16;
    }

    #Service-2 .Content {
        position: relative;
        padding: 8vh 0rem;
        margin-right: 0rem;
        z-index: 16;
    }

    #Service-3 .Content {
        position: relative;
        padding: 8vh 0rem;
        margin-right: 0rem;
        z-index: 16;
    }
}

/*About*/

/*Testimonials*/
#Testimonials {
    padding: 0vh 16vw;
    background-color: #111111;
}

#Testimonials h2 {
    color: #FFFFFE;
    text-align: center;
}

/*Slider*/

.cd-testimonials-wrapper {
    padding: 12rem;
    background-color: #111111;
}

.cd-testimonials-wrapper::after {
    display: none;
}

.cd-testimonials p {
    color: #e5e5e5;
    font-family: 'Circular Std Medium', sans-serif;
    font-size: 2rem;
    /*    font-weight: 400;*/
    line-height: 3rem;
    /*    letter-spacing:  0rem;*/
    padding: 2rem;
    padding-bottom: 4rem;
    text-align: center;
    /*    opacity: .8;*/
    /*    -webkit-text-stroke: .04rem #000000;*/
}

.cd-testimonials ul li a {
    color: #FFFFFE;
}

.flex-direction-nav li a:hover::before,
.flex-direction-nav li a:hover::after {
    background-color: #e5e5e5;

}

.flex-direction-nav li a::before,
.flex-direction-nav li a::after {
    border: .2rem solid #ffffff;
}

.cd-author img {
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    width: 12rem;
    height: 12rem;
    margin-right: 2rem;
    /*    mix-blend-mode: luminosity;*/
    /*    background-blend-mode: luminosity;*/
}

.cd-author .cd-author-info li:first-child,
.cd-author .cd-author-info li:last-child {
    color: #e5e5e5;
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;
    /*    font-weight: 400;*/
    line-height: 3rem;
    /*    letter-spacing:  0rem;*/
    padding-bottom: 4rem;
    /*    opacity: .8;*/
    padding: 0rem;
}

.cd-author .cd-author-info li:last-child {
    font-size: 1.6rem;
    opacity: .8;
}


/*Slider*/

@media (max-width: 768px) {
    #Testimonials {
        padding: 4vh 0vw;
        text-align: center;
    }

    .cd-testimonials-wrapper {
        padding: 4rem;
        text-align: center;
    }

    .cd-author .cd-author-info li:first-child,
    .cd-author .cd-author-info li:last-child {
        text-align: center;
    }

    .cd-author img {
        margin-right: 0rem;
        margin-bottom: 2rem;
    }
}

/*Testimonials*/

/*Country-form*/

/*Contact*/

#Contact {
    background-color: #000000;
    width: 100vw;
}

#Contact .Container {
    background-color: #000000;
    width: 100vw;
    padding: 12vh 12vw;
}

#Contact .Container h2 {
    color: #FFFFFE;
}

#Contact .Container .Submit-Message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 4rem;
}

#Contact .Container .Submit-Message p.Tag {
    padding: 0rem;
    opacity: .6rem;
    color: #e5e5e5;
}


#Contact .Container form {
    margin-top: 2rem;
}

#Contact .Container form button {
    border-color: #FFFFFE;
}

#Contact .Container form button a {
    color: #FFFFFE;
}

#Contact .Container form button:hover {
    background-color: #FFFFFE;
}

#Contact .Container form button:hover a {
    color: #000000 !important;
}


#Contact .Container form .Form-Row .Form-Group input {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;

    width: 100%;
    letter-spacing: 0rem;

    color: #FFFFFE;
    border: none;
    /*    border: .2rem solid #e5e5e5;*/


    background-color: #111111;
    padding: 1.6rem;
    margin-bottom: 2rem;
}

#Contact .Container form .Form-Row .Form-Group input::-webkit-input-placeholder {
    opacity: .8;
}

#Contact .Container form .Form-Row .Form-Group input:-ms-input-placeholder {
    opacity: .8;
}

#Contact .Container form .Form-Row .Form-Group input::placeholder {
    opacity: .8;
}

#Contact .Container form .Form-Row .Form-Group textarea {
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;

    width: 100%;

    letter-spacing: 0rem;

    color: #FFFFFE;
    border: none;
    /*    border: .2rem solid #e5e5e5;*/


    background-color: #111111;
    padding: 1.6rem;
}

#Contact .Container form .Form-Row .Form-Group textarea::-webkit-input-placeholder {
    opacity: .8;
}

#Contact .Container form .Form-Row .Form-Group textarea:-ms-input-placeholder {
    opacity: .8;
}

#Contact .Container form .Form-Row .Form-Group textarea::placeholder {
    opacity: .8;
}

@media (max-width: 768px) {
    #Contact .Container {
        padding: 12vh 8vw;
        text-align: left;
    }

    #Contact .Container .Submit-Message {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        margin-top: 2rem;
        text-align: left;
    }

    #Contact .Container .Submit-Message button {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }

    #Contact .Container .Submit-Message p.Tag {
        -ms-flex-item-align: start;
        align-self: flex-start;
        width: 64%;
        text-align: left;
        margin-top: 2rem;
    }

    #Contact .Container form {
        margin-top: 0rem;
    }
}

/*Contact*/


/*Footer*/
#Footer {
    z-index: 24;
    /*    position: absolute;*/
    /*    bottom: 0;*/
    width: 100vw;
    margin-bottom: 0;
    /*    height: 100vh;*/
    background-color: #000000;
    /*
    position: fixed;
    bottom: 0;
*/
}

#Footer .Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;

    padding: 2rem 12vw;
    background-color: #000000;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    /*    border-top: .02rem solid #FFFFFE;*/
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#Footer .Container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#Footer .Container ul li {
    margin-right: 2rem;
    text-align: left;
}

@media (max-width: 1024px) {
    #Footer .Container {
        padding: .8rem 4rem;
    }
}

#Footer .Container p {
    font-size: 2rem;
    line-height: 2.8rem;

    margin: 0rem;
    padding: 0rem;

    color: #FFFFFE;
}

#Footer .Container a {
    text-align: right;

    color: #FFFFFE;

    -ms-flex-item-align: center;
    align-self: center;
}

@media (max-width: 1024px) {
    #Footer .Container {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    #Footer .Container {
        max-width: 100%;
        padding: .8rem 8vw;
    }

    #Footer .Container h6 {
        width: 60%;
    }

    #Footer .Container ul {
        margin-top: 4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #Footer .Container ul li {
        margin-bottom: 2rem;
    }
}

/*Footer*/

/*About*/

/*Mission*/

#Mission {
    background-color: #000000;
    /*
    background-image: url(../Assets/About/Motto.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
*/
    /*    mix-blend-mode: luminosity;*/
    /*    background-blend-mode: luminosity;*/
    width: 100vw;
    /*    height: 100vh;*/
    padding: 12vh 24vw;
    /*    margin: 0vh 20vw;*/
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

#About-Header {
    background-image: url(../Assets/About/Mockup.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 60vh;
}

#Mission h1 {
    margin: 0 auto;
    color: #FFFFFE;
    text-align: center;
}


#Mission p {
    margin: 0 auto;
    color: #e5e5e5;
    text-align: center;
    width: 88%;
}

@media (max-width: 768px) {

    #Mission {
        width: 100vw;

        padding: 12vh 12vw 8vh;
        /*        background-image: url(../Assets/About/Motto-Small.jpg);*/
    }

    #Mission p {
        width: 100%;
    }
}

/*Mission*/

/*Team*/
#Team {
    background-color: #FFFFFE;
    width: 100vw;
}

#Team .Container {
    background-color: #FFFFFE;
    width: 100vw;
    padding: 12vh 12vw;
    text-align: center;
    margin: 0 auto;
}

#Team .Container h2 {
    text-align: center;
    line-height: 7rem;
    text-transform: none;
}

#Team .Container p {
    width: 72%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 768px) {

    #Team {
        width: 100vw;

        /*        padding: 12vh 12vw;*/
        /*        background-image: url(../Assets/About/Motto-Small.jpg);*/
    }

    #Team .Container h2 {
        text-align: center;
        line-height: 5rem;
    }

    #Team .Container p {
        width: 100%;
    }
}

/*Team*/

/*About*/

/*UK*/
#UK {
    background-color: #111111;
    width: 100vw;
    padding-top: 0vh;
}

#UK .top {
    width: 100vw;
    /*    height: 100vh;*/
    background-image: url(../Assets/UK/Primary.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*    background-color: rgba(0, 0, 0, 0.6);*/
    /*    mix-blend-mode: luminosity;*/
    /*    background-blend-mode: luminosity;*/
    /*    text-align: left;*/
}

#UK .Container {
    background-color: #111111;
    width: 100vw;
    padding: 20vh 12vw 12vh;
    text-align: center;
    margin: 0 auto;
}

#UK button {
    border-color: #fffffe;
    margin-bottom: 4rem;
    position: absolute;
    bottom: 16rem;
    right: 24rem;
}

@media (max-width: 480px) {
    #UK button {
        position: relative;
        left: 2rem;
        bottom: 4rem;
    }
}

#UK button a {
    color: #fffffe;
}

#UK .Container h2 {
    color: #fffffe;
    margin-bottom: 4rem;
}

#UK .Container h3 {
    margin-top: 5rem;
}

#UK .Container p {
    color: #fffffe;
    text-align: left;
}

#UK .courses p {
    padding-bottom: 1rem !important;
}

#UK .Container p strong {
    font-size: 4rem;
    line-height: 5rem;
}

#UK .Container ul li {
    margin-bottom: 1rem;
    text-align: left;
    font-family: 'Circular Std Book', sans-serif;
    font-size: 2rem;
    font-style: normal;
    /*    font-weight: 700;*/
    font-stretch: normal;

    text-align: left;
    letter-spacing: 0rem;
    text-transform: capitalize;

    color: #FFFFFE;
}

#UK .Container ul li.List-Heading {
    font-size: 3rem;
    text-transform: none;
}

/*UK*/
